{% extends 'base.html' %}

{% block title %}URL Shortener{% endblock %}

{% block body %}

<!-- ========== FORM CARDS CONTAINER ========== -->
<div class="container">
  <div class="card-deck mb-3">

    <!-- ========== CARD 1 (WEBSITE) ========== -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Website</h4>
      </div>
      <div class="card-body">
        <!-- URL SHORTENER FORM -->
        <!-- In 'form' the 'action' attribute specifies where the form will submit the data -->
        <form action="your-url" method="post">
          <label for="url">Website URL</label>
          <input type="url" name="url" value="" required>
          <br>
          <label for="code">Short Name</label>
          <input type="text" name="code" value="" required>
          <br>
          <input type="submit" value="Shorten">
        </form>
      </div>
    </div>

    <!-- ========== CARD 2 (FILE) ========== -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">File</h4>
      </div>
      <div class="card-body">
        <!-- FILE UPLOAD FORM -->
        <!-- To allow file upload: enctype="multipart/form-data" -->
        <form action="your-url" method="post" enctype="multipart/form-data">
          <label for="input_file">File</label>
          <input type="file" name="input_file" value="" required>
          <br>
          <label for="code">Short Name</label>
          <input type="text" name="code" value="" required>
          <br>
          <input type="submit" value="Shorten">
        </form>
      </div>
    </div>
  </div>

  <!-- ========== SAVED COOKIES ========== -->
  {% if codes %}
  <h2>Codes you have created</h2>
  <ul>
    {% for code in codes %}
    <li>
      <a href="{{ url_for('urlshort.redirect_to_url', code=code) }}">
        {{ code }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% endblock %}
